<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="shortcut icon" href="../static/img/logo.png" type="x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/profile.css"> 
</head>
<body>
    <div class="top-bar">
        <div class="user-info">
            <span class="show-username">{{ username }}</span>
            <a href="/logout" class="btn-logout"><i class="fas fa-sign-out-alt"></i>Log Out</a>
        </div>
    </div>

    <div class="container">
        <div class="profile-info">
            <div class="user-avatar">
                <img src="/profile_picture" alt="User Avatar" class="user-img">
                <div class="overlay-buttons">
                    <!-- <button class="btn-overlay" id="btnUpload" title="Upload a photo from your device"><i class="fas fa-upload"></i></button>
                    <button class="btn-overlay" id="btnPhoto" title="Take a photo"><i class="fas fa-camera"></i></button> -->
                    <input class="btn-overlay" type="file" id="imageUpload" accept="image/*" style="display: none;">
                    <label for="imageUpload" class="btn-overlay"><i class="fas fa-upload"></i></label>
                </div>
            </div>
            <h2  class="show-username">{{ username }}</h2>
            <div class="user-details">
                <div class="info-item">
                    <div class="col">
                        <label for="profile-username">Username:</label>
                    </div>
                    <div class="col">
                        <span id="profile-username" class="editable">{{ user.username }}</span>
                        <span class="error-icon" title=""><i class="fas fa-exclamation-circle" ></i></span>
                    </div>
                    <div class="col">
                        <i class="fas fa-pencil-alt edit-icon" data-field="username" title="Edit"></i>
                        <i class="fas fa-check save-icon" data-field="username" title="Save" style="display: none;"></i>
                        <i class="fas fa-times cancel-icon" data-field="username" title="Cancel" style="display: none;"></i>
                    </div>
                </div>
                <div class="info-item">
                    <div class="col">
                        <label for="profile-email">Email:</label>
                    </div>
                    <div class="col">
                        <span id="profile-email" class="editable">{{ user.email }}</span>
                        <span class="error-icon" title=""><i class="fas fa-exclamation-circle" ></i></span>
                    </div>
                    <div class="col">
                        <i class="fas fa-pencil-alt edit-icon" data-field="email" title="Edit"></i>
                        <i class="fas fa-check save-icon" data-field="email" title="Save" style="display: none;"></i>
                        <i class="fas fa-times cancel-icon" data-field="email" title="Cancel" style="display: none;"></i>
                    </div>
                </div>
                <div class="info-item">
                    <div class="col">
                        <label for="profile-phone">Phone:</label>
                    </div>
                    <div class="col">
                        <span id="profile-phone" class="editable">{{ user.phone }}</span>
                        <span class="error-icon" title=""><i class="fas fa-exclamation-circle" ></i></span>
                    </div>
                    <div class="col">
                        <i class="fas fa-pencil-alt edit-icon" data-field="phone" title="Edit"></i>
                        <i class="fas fa-check save-icon" data-field="phone" title="Save" style="display: none;"></i>
                        <i class="fas fa-times cancel-icon" data-field="phone" title="Cancel" style="display: none;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
	<script src="../static/script/profile.js"></script>
    
<script>
    document.getElementById('imageUpload').addEventListener('change', function(event) {
    var file = event.target.files[0];
    var reader = new FileReader();

    reader.onload = function(e) {
        var imageData = e.target.result;
        uploadImage(imageData);
    };

    if (file) {
        reader.readAsDataURL(file);
    }
});

// Funcția pentru trimiterea imaginii către server folosind AJAX
function uploadImage(imageData) {
    $.ajax({
        url: '/upload_profile_picture',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ image: imageData }),
        success: function(response) {
            console.log(response.message);
            // Aici poți adăuga acțiuni suplimentare după ce imaginea a fost încărcată cu succes
        },
        error: function(xhr, status, error) {
            console.error(error);
            // Aici poți gestiona erorile în cazul în care încărcarea imaginii a eșuat
        }
    });
}
</script>
</body>
</html>
