:root {
    --color-border-hover: #fa698a;
    --color-border: #cd294f;
    --color-button-hover: #ff2770;
    --color-button: #c72f62;
    --color-error: #d43f3a;
    --color-alert: #e2054f;
    --color-bg: #191d2b;
    --color-modal: #2c303a;
    --color-info: #6a6f7d;
    --color-text: #fff;
    --color-opacity: rgba(0, 0, 0, 0.8);
    --color-btn: rgba(255, 255, 255, 0.8);
    --color-black: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    padding: 20px;
}

.container {
    margin: 0 auto;
}

.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    /* font-size: 18px; */
    margin-right: 10px;
}

.btn-logout {
    color: var(--color-text);
    text-decoration: none;
    border: 1px solid var(--color-border);
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-logout:hover {
    background-color: var(--color-button-hover);
    border-color: var(--color-border-hover);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 75vh; 
    margin: auto; 
}


.btn-menu {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 100px;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--color-border);
	background-color: var(--color-button);
    color: var(--color-text);
    transition: all 0.3s ease;
}

.btn-menu i,
.btn-logout i {
    margin-right: 10px;
}

.btn-menu:hover {
    transform: scale(1.1);
    background-color: var(--color-button-hover);
}
