:root {
    --color-border-hover: #fa698a;
    --color-border: #cd294f;
    --color-button-hover: #ff2770;
    --color-button: #c72f62;
    --color-bg: #191d2b;
    --color-modal: #2c303a;
    --color-text: #fff;
    --color-opacity: rgba(0, 0, 0, 0.8);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: 200px auto;
    background-color: var(--color-modal);
    padding: 20px;
    border: 2px solid var(--color-border);
    border-radius: 8px;
}

.top-bar {
    padding: 10px 20px;
    margin-bottom: 20px;
    float: right;
}

a{
    text-decoration: none;
    color: var(--color-button);
}

h1{
    text-align: center;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 10px;
}

.btn-logout {
    color: var(--color-text);
    text-decoration: none;
    border: 1px solid var(--color-border);
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-logout:hover {
    background-color: var(--color-button-hover);
    border-color: var(--color-border-hover);
}

.profile-info {
    text-align: center;
}

.user-details {
    margin-top: 20px;
}

.user-details p {
    margin-bottom: 10px;
}

.btn-save,
.btn-cancel {
    background-color: var(--color-button);
    color: var(--color-text);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-save:hover,
.btn-cancel:hover {
    background-color: var(--color-button-hover);
}

#updateMessage {
    margin-top: 10px;
    color: var(--color-text);
}
