:root {
    --color-border-hover: #fa698a;
    --color-border: #cd294f;
    --color-button-hover: #ff2770;
    --color-button: #c72f62;
    --color-error: #d43f3a;
    --color-alert: #e2054f;
    --color-bg: #191d2b;
    --color-modal: #2c303a;
    --color-info: #6a6f7d;
    --color-text: #fff;
    --color-opacity: rgba(0, 0, 0, 0.8);
    --color-btn: rgba(255, 255, 255, 0.8);
    --color-black: #000;
    --color-menu-hover: #3c414f;
} 

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.container-storage {
    top: 60px;
    position: relative;
    width: 70%;
    margin: 0 auto; 
    padding: 20px;
}

.menu-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn{
    margin: 5px !important;
}

.btn-custom { 
    background-color: var(--color-modal);
    border-color: var(--color-border);
    color: var(--color-text);
}
.btn-custom:hover {
    background-color: var(--color-button-hover);
    border-color: var(--color-border);
    color: var(--color-text);
}
.img-thumbnail {
    background-color: var(--color-bg);
    border: 2px solid var(--color-border);
    cursor: pointer;
}
#imagesContainer .image-card, 
#imagesContainer .video-card {
    margin-bottom: 15px;
    color: var(--color-text);
}
.image-info, 
.video-info {
    background-color: var(--color-modal);
    padding: 10px;
    border: 1px solid var(--color-border);
}
.img-thumbnail:hover{
    border: 3px solid var(--color-border-hover);
}

/* preview */
.preview-btn{
    /* border-radius: 10px 0 10px 10px; */
    margin-right: 0px !important;
}
.overlay-buttons {
    display: none;
    position: absolute;
    /* top: 7px;
    right: 17px; */
    top: 0;
    right: 15px;
}
.overlay-buttons:hover {
    /* top: 6px;
    right: 16px; */
    color: var(--color-button-hover);
}
.overlay-buttons .btn {
    margin: 0 5px;
}
.image-card:hover .overlay-buttons,
.video-card:hover .overlay-buttons {
    display: block;
}
#preview-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-opacity);
    z-index: 5;
    cursor: pointer;
}
#preview-overlay img,
#preview-overlay video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
}
.close-preview {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 42px;
    color: var(--color-text);
    z-index: 3;
}

.close-preview:hover{
    color: var(--color-button-hover);
}

/* NO RECORDINGS */
#message {
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center; 
    /* height: 70vh;  */
    width: 100%; 
    padding-top: 10%;
}
.no-data {
    color: var(--color-info);
}

.no-data i {
    font-size: 45px;
    margin-bottom: 10px;
}

.no-data p {
    font-size: 20px;
}

/* FILTER BY DATE */
#dateFilter{
    cursor: pointer;
    background-color: var(--color-button);
    border-color: var(--color-border);
    color: var(--color-text);
}

#pagination{
    display: none;
    background-color: var(--color-modal);
    padding: 10px;
    margin-bottom: 60px;
}

.btn-pagination {
    background-color: transparent;
    color: var(--color-text);
    border: none;
    margin: 0 5px;
}

.btn-pagination:hover {
    color: var(--color-button-hover);
}

.active{
    color: var(--color-button);
}

.active-submenu{
    background-color: var(--color-button);
}

.disabled{
    cursor: not-allowed;
    color: var(--color-info);
}

.disabled:hover{
    color: var(--color-info);
}


/* MODAL - DELETE DATA */
.modal-content{
    background-color: var(--color-modal);
    border: 1px solid var(--color-border);
}

.btn-secondary{
    background-color: var(--color-menu-hover);
}

.btn-secondary:hover{
    background-color: var(--color-info);
}

.btn-danger{
    background-color: var(--color-button);
    margin-left: 0px !important;
}

.btn-danger:hover,
.btn-danger:focus{
    background-color: var(--color-button-hover);
}






.swal-custom-popup {
    background-color: var(--color-modal)!important;
    border: 1px solid var(--color-border)!important;
}

.swal-custom-title {
    color: var(--color-text)!important;
}

.swal-custom-content {
    /* color: var(--color-text)!important; */
    color: var(--color-info)!important;
}

